
/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1800px) {
.container-full-padding,
.s-container-full-padding {
    padding: 0 240px;
}
.slider-img {
	right: 40px;
}
.slider-img.slider-img2 {
	right: 210px;
}


}


/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1500px) {
.container-full-padding,
.s-container-full-padding {
    padding: 0 60px;
}

.slider-bg {
	padding: 180px 0;
}
.slider-style-two {
	padding: 250px 0 140px;
}
.slider-img img {
	width: 370px;
}
.slider-img.slider-img2 img {
	width: 580px;
}

.slider-img {
	right: 20px;
}
.slider-img.slider-img2 {
	right: 255px;
  width: 500px;
}

}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
.container-full-padding,
.s-container-full-padding {
  
}

.slider-bg {
	padding: 180px 0;
}
.navbar-wrap ul li a {
	font-size: 12px;
	padding: 40px 20px;
}
.about-content {
	padding-right: 0;
}

.menu-style-two {
	padding: 28px 0px;
	border-radius: 0;
	background-image: none;
}

.menu-style-two .navbar-wrap ul li a {
	padding: 15px 20px;
}
.slider-img.slider-img2 {
	display: none;
}
.slider-style-two .slider-content h2 {
	font-size: 75px;
}
.slider-style-two .slider-content p {
	width: 90%;
}
.slider-style-two {
	padding: 250px 0 150px;
}

.cta-content {
	padding: 0;
}
.cta-content .section-title h2 {
	font-size: 45px;
}

}



/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
.container-full-padding,
.s-container-full-padding {
    padding: 0 30px;
}

.main-header,
.main-header.sticky-menu {
	padding: 25px 0 10px;
}
.main-menu nav {
	justify-content: space-between;
}

.slider-content h2 {
	font-size: 82px;
}
.slider-content p {
	width: 90%;
}

.slider-bg {
	padding: 180px 0;
}
.navbar-wrap ul li a {
	font-size: 12px;
	padding: 40px 20px;
}
.about-content {
	padding-right: 0;
}

.slider-img {
	display: none;
}
.transparent-header {
	padding: 25px 0 10px;
	top: 0;
}
.menu-style-two {
	padding: 0;
}
.slider-style-two {
	padding: 240px 0 150px;
	text-align: center;
}

.slider-style-two .slider-content p {
	width: 80%;
	margin: 0 auto 45px;
}
.slider-style-two .row {
	justify-content: center;
}

}



/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
.container-full-padding,
.s-container-full-padding {
    padding: 0 15px;
}


.main-menu nav {
	justify-content: space-between;
}

.slider-content h6 {
	font-size: 16px;
}
.slider-content h6::before {
	border-width: 5px 90px 5px 0;
}
.slider-content h6::after {
	border-width: 5px 0 5px 90px;
}
.slider-content h2 {
	font-size: 60px;
}
.slider-content p {
	width: 100%;
	font-size: 16px;
	font-weight: 500;
}

.copyright-text p {
	text-align: center;
}

.slider-style-two .slider-content h2 {
	font-size: 45px;
	line-height: 1;
}
.slider-style-two {
	padding: 205px 0 120px;
}
.slider-style-two .slider-content p {
	width: 100%;
}

}


/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
.slider-style-two .slider-content h2 {
	font-size: 70px;
}
.slider-style-two .slider-content p {
	width: 95%;
}
